
.my-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    max-width: 100px; /* Set a minimum width for the buttons */
    height: 50px;
    text-overflow: ellipsis;
    padding: 10px;
    /* Add more styles as needed */
}

.my-links span {
    flex: 1; /* Allow the text to shrink to fit */
}

.my-links:hover {
    background-color: lightgreen; /* Change background color on hover */
    /* Add more hover styles as needed */
}

ul.b {
    -webkit-column-count: auto;
    -moz-column-count: 3;
    column-count: auto;
}

ul.a{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {

    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.message {
    text-align: center;
    font-weight: 600;
    color: green;
}
.title {
    text-align: center;
    font-weight: 1000;
    color: black;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1.title {
    font-size: 10em;
  }

input,
.btn {
    
  align-self: center;
  width: 100%;
  padding: 12px;
  border:#333;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .my-links2 {

  }

  table {
    width: 25%;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .column-1 {
    width: 15%;
}

.column-2 {
    width: 5%; /* Adjust the width here */
}

.column-3 {
    width: 5%;
}
.column-4 {
  width: 5%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}