<!doctype html>
{% extends "layout.html" %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<title>Hello from Flask</title>
{% if name %}
<h1 class="message">Hello there, {{ name }}!</h1> 
<table class ="user-table">
    <colgroup>
        <col class="column-1">
        <col class="column-4">
        <col class="column-2">
        <col class="column-3">
        
    </colgroup>
    <thead>
      <tr>
        <th>Climb Name</th>
        <th>Spot Name</th>
        <th>Climb Difficulty</th>
        <th>Climb Rating</th>
      </tr>
    </thead>
    <tbody class = "user-table-body">
      {%for i in range(0, len)%}
      <tr>
        <td>{{climbArr[i].climbName}}</td>
        <td>{{ratingSpots[i][0]}}</td>
        <td>V{{climbArr[i].climbDifficulty}}</td>
        <td>{{ratingSpots[i][1]}}/5</td>
      </tr>
      {% endfor %}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  <a href="{{ url_for('handle_download_csv') }}" class="btn">Download CSV</a>
  <h2>Rate a Climb</h2>
  <form action="{{ url_for('submit_rating') }}" method="post">
      <label for="climb_id">Select Climb:</label>
      <select name="climb_id" id="climb_id">
          {% for climb in available_climbs %}
              <option value="{{ climb[0] }}">{{ climb[1] }}</option>
          {% endfor %}
      </select>
      <label for="rating">Rating:</label>
      <input type="number" name="rating" id="rating" min="1" max="5" required>
      <input type="submit" value="Submit Rating">
  </form>
{% else %}
<p>No more climbs available to rate.</p>
<span class="message">Hello World!</span> 
{% endif %}
{% endblock %}
