<!doctype html>
{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<title>Hello from Flask</title>

<div class="content">
    <h1 class="message">Home</h1> 

    <!-- Ranking List of Climbs -->
    <div class="top-climbs">
        <h2>Top 5 Climbs</h2>
        <ol class="climb-list">
            {% for climb in top_climbs %}
                <li>
                    <span class="climb-name">#{{ loop.index }} {{ climb.name }}</span> - 
                    <span class="climb-rating">Rating: {{ climb.rating|round(2) }}</span>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>

<!-- Inside home.html -->

{% if 'UserID' in session %}
    <!-- Rating form for logged-in users -->
    <form action="{{ url_for('submit_rating') }}" method="post">
        <label for="climb_id">Select Climb:</label>
        <select name="climb_id" id="climb_id">
            {% for climb in climbs %}
                <option value="{{ climb.ClimbID }}">{{ climb.ClimbName }}</option>
            {% endfor %}
        </select>
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating" min="1" max="5" required>
        <input type="submit" value="Submit Rating">
    </form>
{% endif %}




{% endblock %}
