<!doctype html>
{% extends "layout.html" %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body class = 'background' style = "background-size: cover; background-image: url(https://drive.google.com/uc?export=view&id=1bHAq2p6B6Vul7oLLnc1tpNyN7HhdBQRR);">
  <title>Leaderboard</title>
  <h1 id="leaderboard-message"><em>Leaderboard</em></h1> 
  <table id="leaderboard">
      <colgroup>
          <col class="column-1">
          <col class="column-3">
      </colgroup>
      <thead>
        <tr class = "table-header">
          <th>Username</th>
          <th>Climbs Completed</th>
        </tr>
      </thead>
      <tbody>
        {%for i in range(0, len)%}
        <tr class = "leaderboard-row">
          {% if i == 0 %}
            <td style = "background-color: gold;">{{userArr[i][0]}}</td>
            <td style = "background-color: gold;">{{userArr[i][1]}}</td>
          {% elif i == 1 %}
            <td style = "background-color: silver;">{{userArr[i][0]}}</td>
            <td style = "background-color: silver;">{{userArr[i][1]}}</td>
          {% elif i == 2 %}
            <td style = "background-color: rgb(204, 152, 64);">{{userArr[i][0]}}</td>
            <td style = "background-color: rgb(165, 126, 42);">{{userArr[i][1]}}</td>
          {% else %}
            <td>{{userArr[i][0]}}</td>
            <td>{{userArr[i][1]}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <!-- Add more rows as needed -->
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>

{% endblock %}