{% extends "layout.html" %}
{% block content %}
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class = "background">
    <div id="login-container">
      <h1 style = "color: white; font-size: 70px; margin-bottom: 15px;">Login</h1>
      <br>
      <form action="" method="post", class = "info-form">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" class = "login-inputs">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" class = "login-inputs">
          <input class="btn btn-default" type="submit" value="Login" style = "width: 101.8%;">

      </form>
      
      <a href="{{ url_for('register') }}">
        <button class="btn btn-default" type = registerbutton>Register</button>
        

        </a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
{% endblock %}