{% extends "layout.html" %}
{% block content %}
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="usernameRegister" value="{{
          request.form.usernameRegister}}">
         <input type="password" placeholder="Password" name="passwordRegister" value="{{
          request.form.passwordRegister}}">
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
{% endblock %}
