<!doctype html>
{% extends "layout.html" %}
{% block content %}


<body class='background' style="font-size: 36px; color: white;">
    <h1 class="title" style="text-align: center; font-size: 4em;">{{ climb.climbName }}</h1>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div class="image" style="margin-bottom: 32px;">
        <img src="{{ url_for('static', filename='images/stem_gem.jpg') }}" alt="climb image" style="display: block; margin: 0 auto; max-width: 1000px; max-height: 1000px; width: 100%; height: auto; border-radius: 20px; box-shadow: 0 4px 24px rgba(0,0,0,0.3);">
      </div>
      <div class="climb-info" style="text-align: center; font-size: 1.3em;">
        {% if error and climbName %}
          <p class="error" style="font-size: 1.1em;"><strong>Error:</strong> {{ error }}
        {% elif climb %}
          {% if climb.type == "Boulder" %}
            <h2 style="font-size: 1.3em;">Climb Difficulty: v{{ climb.climbDifficulty }} </h2>
          {% else %}
            <h2 style="font-size: 1.3em;">Climb Difficulty: v{{ climb.climbDifficulty }} </h2>
          {% endif %}
          <h2 style="font-size: 1.3em;">Climb Type: {{ climb.climbType }} </h2>
          <h2 style="font-size: 1.3em;">Climb Spot: {{ climb.climbSpot }} </h2>
        {% endif %}
      </div>
    </div>
        <!-- Button for Marking Climb as Completed -->
        {% if 'userID' in session and not_already_completed %}
            <form action="{{ url_for('mark_completed', climb_id=climb.ClimbID) }}" method="post">
                <button type="submit">Mark as Completed</button>
            </form>
        {% endif %}

        <!-- Rating Form -->
        {% if 'userID' in session and not_already_rated %}
            <form action="{{ url_for('rate_climb', climb_id=climb.ClimbID) }}" method="post">
                <label for="rating">Your Rating:</label>
                <select name="rating" id="rating">
                    <option value="1">1 - Poor</option>
                    <option value="2">2 - Fair</option>
                    <option value="3">3 - Good</option>
                    <option value="4">4 - Very Good</option>
                    <option value="5">5 - Excellent</option>
                </select>
                <button type="submit">Submit Rating</button>
            </form>
        {% endif %}
    {% endblock %}
</body>